# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*pyc

# --- Virtual environments ---
.venv/
venv/
env/

# --- Environment variables ---
.env

# --- Jupyter ---
.ipynb_checkpoints/

# --- OS ---
.DS_Store
Thumbs.db

# --- IDE ---
.vscode/

# --- Logs ---
*.log
